import "reflect-metadata";
import "source-map-support/register.js";

import { EnvKey } from "@efesto-cloud/env";
import { container, logger } from "{{ns}}/core";
{{#if has_mongodb}}import { install, setup, teardown } from "{{ns}}/mongodb";
{{/if}}import { createRequestHandler } from "@react-router/express";
import compression from "compression";
import express from "express";
import morgan from "morgan";
import { createServer } from "vite";

{{#if has_mongodb}}container.load(install());

// ------------ Connect to DB ----------- //

await setup();
logger.info("[MongoDB] setup complete");

const shutdown = async (signal) => {
    logger.info(`Received ${signal}, terminating server...`);
    await teardown();
    logger.info("[MongoDB] teardown complete");
    process.exit(0);
};

process.on("SIGINT", () => shutdown("SIGINT"));
process.on("SIGTERM", () => shutdown("SIGTERM"));
{{/if}}

// ------------ Initiate the HTTP server ----------- //

const app = express();

app.use(compression());
app.disable("x-powered-by");

const viteDevServer = await createServer({
    server: {
        middlewareMode: true,
        port: 5173,
        host: "0.0.0.0",
        hmr: {
            port: 24678,
        },
    },
});

app.use(viteDevServer.middlewares);
app.use(
    morgan(":method :url :status - :response-time ms", {
        stream: {
            write: (message) => logger.http(message.trim()),
        },
    }),
);

const reactRouterHandler = createRequestHandler({
    build: () =>
        viteDevServer.ssrLoadModule("virtual:react-router/server-build"),
});

app.use("/{*any}", reactRouterHandler);

const port = EnvKey.integer("PORT");
app.listen(port, "0.0.0.0", () =>
    logger.info(`[Express] dev server started on http://0.0.0.0:${port}`),
);
