{
    "name": "{{ns}}/webapp",
    "private": true,
    "type": "module",
    "scripts": {
        "build": "react-router build",
        "dev": "dotenvx run -- node ./dev-server.mjs",
        "start": "dotenvx run -- node ./server.mjs",
        "init": "dotenvx run -- node -e \"import {sync} from'{{ns}}/mongodb';await sync();\" ",
        "typecheck": "react-router typegen && tsc",
        "biome": "biome check"
    },
    "dependencies": {
        "@dotenvx/dotenvx": "^1.35.0",
        "@efesto-cloud/env": "^0.0.2",
        "@efesto-cloud/maybe": "^0.0.2",
        "@efesto-cloud/toast": "^0.0.2",
        "{{ns}}/core": "workspace:*",
        "{{ns}}/mongodb": "workspace:*",
        "@react-router/express": "^7.9.1",
        "@react-router/node": "^7.9.1",
        "compression": "^1.8.1",
        "decimal.js": "^10.6.0",
        "express": "^5.1.0",
        "isbot": "^5.1.27",
        "lucide-react": "^0.544.0",
        "luxon": "^3.7.2",
        "morgan": "^1.10",
        "react": "^19.1.0",
        "react-dom": "^19.1.0",
        "react-hot-toast": "^2.6.0",
        "react-router": "^7.9.1",
        "react-select": "^5.10.2",
        "reflect-metadata": "^0.2.2",
        "source-map-support": "^0.5.21",
        "zod": "^4.1.9"
    },
    "devDependencies": {
        "@csstools/postcss-oklab-function": "^4.0.9",
        "@react-router/dev": "^7.9.1",
        "@react-router/fs-routes": "^7.0.0",
        "@tailwindcss/postcss": "^4.0.0",
        "@types/compression": "^1.8.1",
        "@types/express": "^5.0.3",
        "@types/express-serve-static-core": "^5.0.7",
        "@types/luxon": "^3.7.1",
        "@types/morgan": "^1.9.10",
        "@types/node": "^22",
        "@types/react": "^19.1.2",
        "@types/react-dom": "^19.1.2",
        "autoprefixer": "^10.4.21",
        "daisyui": "^5.1.13",
        "postcss": "^8.5.6",
        "sass-embedded": "^1.93.0",
        "tailwindcss": "^4",
        "typescript": "^5.9.2",
        "vite": "^7.1.6",
        "vite-tsconfig-paths": "^5.1.4"
    },
    "engines": {
        "node": ">=22.12.0"
    }
}
