{
    "name": "{{project_name}}",
    "dockerComposeFile": "docker-compose.yml",
    "service": "app",
    "workspaceFolder": "/workspace",
    "customizations": {
        "vscode": {
            "extensions": [
                "yzhang.markdown-all-in-one",
                "mongodb.mongodb-vscode",
                "chamboug.js-auto-backticks",
                "mhutchie.git-graph",
                "bradlc.vscode-tailwindcss",
                "biomejs.biome"
            ]
        }
    },
    "remoteUser": "node"
}
